@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <div id="HelloElement">
        <p>Today's message is: <span data-bind="text: greeting"></span></p>
    </div>
</div>

